* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: #426ac0;
  font-style: italic;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-register {
  width: 15rem;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 2rem;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 6px 12px 36px #000;
}

@media (min-width: 768px) {
  .form-register {
    width: 20rem;
  }
}

.form-register h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 1rem;
  margin-bottom: 16px;
  border: 1px solid #d9d9d9;
  font-family: "calibri";
  font-size: 18px;
  color: white;
  text-align: center;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  border-radius: 1rem;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #000;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 1rem;
  margin-top: 3rem;
}

.botons:active {
  background-color: #426ac0;
  transition: all 0.3s ease-out;
}
